<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOSAppWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB9C31D41DCA2D4C0091C55F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9C31EA1DCA2D4C0091C55F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9C31F51DCA2D4C0091C55F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC7B7531E39404C00A2C083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
