
body{
	
}

.container{
	width : 100%;
}
.main{
	position: relative;
	
}

.header, .footer, body, .main, .middle{
	background-color : "magenta";
}
#formDiv{

	width: 80%;
	background-color:white;
	margin: 100px;
	margin-top:0px;
}

#middleContainer{
	height: 120%;
}

.middle{
	float: left;
	width: 20%;
	padding:20px;
	box-sizing: border-box;

	height: inherit;
}

.header .footer{
	width:100%;

}

.middle label{

	
	font-weight:bold;
}
.middle input,textarea{
	margin-left: 40px;
}
li input,label{
	text-align:center;
}

li{
	padding-bottom:10px;
}
.headline{
	font-style: oblique;
	font-size:20px;
}
#map{
	
}

h1{
	text-align:center;
}

.nToM{
	margin-left:20px;
}

.nToM input{
	margin-left:0px;
}





