
#formDiv{
	padding-left:15px;
}




#top, #bottom, #left, #right {
	background: #00ff00;
	
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
	position: fixed;
	height:100% - 15px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }




